/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
.test {
    width: 300px;
    height: 500px;
    background-color: blueviolet;
}
/*================================================================================================================================================================*/
/*My code */
* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.full-screen-container {
    background-image: url(Images/IU-Wallpaper-4.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form-container {
    background-color: hsla(40, 22%, 88%, 60%);
    padding: 50px 30px;
    width: 50%;
    min-width: 450px;
    max-width: 600px;
}
.login-welcome-message {
    font-size: 1.5em;
    color: white;
    line-height: 1.2em;
    text-align: center;
    text-shadow: 2px 2px #bbb2e9;
    position: relative;
    bottom: 30px;
}
.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.input-group label {
    margin-bottom: 5px;
    color: white;
    font-weight:normal;
    font-size: 1.0em;
    text-shadow: 2px 2px #bbb2e9;
}
.input-group input {
    background-color: hsla(40, 22%, 88%, 70%);
    padding: 0.5em 0.75em;
    border: 1px solid hsl(40, 22%, 70%);
    border-radius: 5px;
    color: #655E71;
    font-size: 1.0em;
    font-weight: normal;
    outline: none;
}
.input-group input:focus {
    background-color: hsla(40, 22%, 88%, 100%);
}
.sign-in-button {
    margin-top: 20px;
    padding: 10px 30px; 
    color: white; 
    text-shadow: 2px 2px #bbb2e9;
    font-size: 1.0em;
    font-weight: normal;
    width: 100%;
    background-color: hsla(40, 22%, 88%, 10%);
    border: 1px solid hsl(40, 22%, 70%);
    border-radius: 5px;
    cursor: pointer;
}
.sign-in-button:hover {
    background-color: hsla(40, 22%, 88%, 70%);
    
}
.sign-in-button:focus {
    background-color: hsla(40, 22%, 88%, 100%);
}





